h2 {
    background-color: rgb(181, 204, 196);
    color: blue;
    text-align: center;
}

#display {
    border: 2px solid hsl(0, 0%, 20%);
    padding: 10px;
    margin: 20px auto;
    width: 300px;
    background-color: rgb(192, 180, 164);
    border-radius: 8px;
    font-weight: bold;
}

body {
    background-color: rgb(235, 228, 219);
}